:root{
    /*Variables Header*/
    --H_textSize:16px;
    /*Variables del Hero*/

    /*Variables del Servicio*/

    /*Variables del Acerca de*/

    /*Variables del Portafolio*/

    /*Variables del Blog*/

    /*Variables del Contacto*/

    /*Variables Globales*/
    --background_color:#F1F1F9;
    --background_color_Buttom:#F24E1E;
    --color1:#0a0a0a;
    --color2:#F24E1E;
    --color3:#fff;
    --margin:20px 50px;
    /**/
    /**/
    /**/
    /**/
}
*{
  margin: 0%;
  padding: 0%; 
  box-sizing: border-box; 
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background);
    overflow-x: hidden;
    font-size: 16px;
}
.global{
    width: 100%;
    max-width: 1910px;
    padding: var(--margin);
}
@media screen and (max-width:760px) {
    .global{
        width: 100%;
        padding: 20px 15px;
        overflow: hidden;
    }
}
h1{
    font-size:50px;
    text-align: center;
    line-height: 130%;
}
a{
    text-decoration: none;
    color: var(--color1);
}
.cta{
    padding: 10px 15px;
    border-radius: 100px;
    color: var(--color3);
    background-color:var(--background_color_Buttom);
}
.cta:hover{
    background-color: #e54210;
}
.cta:active{
    transform: scale(0.95);
    background-color:var(--background_color_Buttom);
}
/*Propiedades Globales*/
/*Header*/
header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    color: var(--color1);
}

header .logo span{
    color: var(--color2);
}

header .nav-menuContent{
    display: flex;
    align-items: center;
    gap: 15px;
}
header .menu_burger{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: var(--background_color_Buttom);
}
header .menu_burger span{
    width: 20px;
    height: 2px;
    background-color: #ffffff;
}
@media screen and (max-width:760px) {
    header .logo span{
        color: var(--color2);
    }
    
    header .nav-menuContent{
        display: none;
        align-items: center;
        gap: 15px;
    }
    header .menu_burger{
        display: flex;
    }
}
/*Header*/
/*Hero*/
.hero{
    width: 100%;
    padding: 150px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero img{
    position: absolute;
}
.hero-textContent{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    text-align: center;
}
.hero-textContent h1{
    margin-bottom: 10px;
}
.hero .cta{
    padding: 10px 30px;
}
.hero img:nth-child(1){
    width: 200px;
    top: -20%;
    left: 12%;
    z-index: -1;
}
.hero img:nth-child(2){
    width: 150px;
    bottom:-170%;
    right: 25%;
}
.hero img:nth-child(3){
    width: 150px;
    top: -60%;
    right: 10%;

}
@media screen and (max-width:760px) {
    .hero{
        height: 70vh;
        padding: 70px 0px;
    }
    .hero-textContent h1{
        font-size: 1.7rem;
    }
    .hero .cta{
        padding: 10px 30px;
    }
    .hero img:nth-child(1){
        width: 150px;
        top: -20%;
        left: -30%;
        z-index: -1;
    }
    .hero img:nth-child(2){
        width: 100px;
        bottom:-100%;
        right: 10%;
        z-index: -1;
    }
    .hero img:nth-child(3){
        width: 100px;
        top: -30%;
        right: -10%;
        z-index: -1;
    
    }
}
/*Hero*/
/*Servicios*/
.servicios{
    width: 100%;
    padding: 40px;
    margin: 250px 0px;
    position: relative;
}
.servicios .sImg{
    position: absolute;
}
.servicios .sImg:nth-child(1){
    bottom:0%;
    right: 0%;
    z-index: -1;
}
.servicios .sImg:nth-child(2){
    width: 200px;
    top: 50%;
    left: -10%;
    z-index: -1;
}
.servicios .sImg:nth-child(3){
    width: 150px;
    bottom:-5%;
    left: 25%;
    z-index: -1;
}
.servicios .sImg:nth-child(4){
    width: 150px;
    top: 0%;
    right: 0%;
    z-index: -1;

}
.servicios-divContent{
    display: block;
    margin:auto;
    padding: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
    border-radius: 10px;
}

.servicios-cardsContent{
    display: grid;
    grid-template-columns: repeat(3, minmax(280px,1fr));
    place-items: center;
    margin-top: 50px;
    gap: 50px;
}

.servicios-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 280px;
    height: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    transition: background-color 0.5s;
    cursor: pointer;
}

.servicios-card:hover{
    background-color:rgb(242, 78, 30, 0.5);
}
.servicios-cardText{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@media screen and (max-width:760px) {
    .servicios{
        padding: 0px;
        position: relative;
    }
    .servicios .sImg{
        position: absolute;
    }
    .servicios .sImg:nth-child(1){
        bottom:0%;
        right: 0%;
        z-index: -1;
    }
    .servicios .sImg:nth-child(2){
        width: 200px;
        top: 50%;
        left: -10%;
        z-index: -1;
    }
    .servicios .sImg:nth-child(3){
        width: 150px;
        bottom:-5%;
        left: 25%;
        z-index: -1;
    }
    .servicios .sImg:nth-child(4){
        width: 150px;
        top: 0%;
        right: 0%;
        z-index: -1;
    
    }
    .servicios-divContent{
        width: 100%;
        display: block;
        margin:auto;
        padding: 40px 0px;
        height: auto;
        text-align: center;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
        border-radius: 10px;
    }
    
    .servicios-cardsContent{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        margin-top: 50px;
        padding: 15px;
        gap: 50px;
    }
    
    .servicios-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: auto;
        height: auto;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        transition: background-color 0.5s;
        cursor: pointer;
    }
    
    .servicios-card:hover{
        background-color:rgb(242, 78, 30, 0.5);
    }
    .servicios-cardText{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}
/*Servicios*/
/*Acerca de*/
.acercade{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 250px 0px;
}

.acercade-textContent{
    width: 450px;
}
@media screen and (max-width:760px) {
    .acercade{
        margin: 250px 0px;
        gap: 30px;
    }
    
    .acercade-textContent{
        width: 100%;
    }
    .acercade img{
        width: 80%;
    }
}
/*Acerca de*/
/*Portafolio*/
.portafolio{
    width: 100%;
    height: auto;
    margin: 250px 0px;
    position: relative;
}
.portafolio .subtitle{
    text-align: center;
    margin-bottom: 40px;
}
.portafolio .pImg{
    position: absolute;
}
.portafolio .pImg:nth-child(1){
    bottom:-5%;
    left: -5%;
    z-index: -1;
}
.portafolio .pImg:nth-child(3){
    width: 150px;
    bottom:50%;
    right: -5%;
    z-index: -1;
}
.portafolio .pImg:nth-child(2){
    width: 200px;
    top: 0%;
    left: -5%;
    z-index: -1;
}
.portafolio-cardContainer{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 200px;
}
.portafolio .portafolio-card{
    display: flex;
    position: relative;
}
.portafolio .portafolio-card:nth-child(2){
    width: 100%;
    justify-content: end;
}
.portafolio .portafolio-textContent{
    width: 675px;
    height: auto;
    background-color: rgb(255, 255, 255);
    position: absolute;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
}
.portafolio .portafolio-textContent p{
    line-height: 150%;
}
.p_item1{
    top: 10%;
    right: 10%;
}
.p_item2{
    top: 10%;
    left: 10%;
}
.p_item3{
    top: 10%;
    right: 10%;
}
.p_titleContent{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:760px) {
    .portafolio{
        width: 100%;
        height: auto;
        margin: 250px 0px;
        position: relative;
    }
    .portafolio .subtitle{
        text-align: center;
        margin-bottom: 40px;
    }
    .portafolio .pImg{
        position: absolute;
    }
    .portafolio .pImg:nth-child(1){
        bottom:-5%;
        left: -5%;
        z-index: -1;
    }
    .portafolio .pImg:nth-child(3){
        width: 150px;
        bottom:50%;
        right: -5%;
        z-index: -1;
    }
    .portafolio .pImg:nth-child(2){
        width: 200px;
        top: 0%;
        left: -5%;
        z-index: -1;
    }
    .portafolio-cardContainer{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .portafolio .portafolio-card{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        gap: 20px;
    }
    .portafolio .portafolio-card .p_item1:nth-child(1){
        order: 2;
    }
    .portafolio .portafolio-card .p_item1:nth-child(1){
        order: 1;
    }
    .portafolio .portafolio-card .p_item3:nth-child(1){
        order: 2;
    }
    .portafolio .portafolio-card .p_item3:nth-child(1){
        order: 1;
    }
    .portafolio .portafolio-card .workImg{
        width: 100%;
    }
    .portafolio .portafolio-card:nth-child(2){
        width: 100%;
        justify-content: center;
    }
    .portafolio .portafolio-textContent{
        width: auto;
        height: auto;
        background-color: rgb(255, 255, 255);
        position: relative;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        border-radius: 10px;
        gap: 30px;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
    }
    .portafolio .portafolio-textContent p{
        line-height: 150%;
    }
    .p_item1{
        top: 0%;
        right: 0%;
    }
    .p_item2{
        top: 0%;
        left: 0%;
    }
    .p_item3{
        top: 0%;
        right: 0%;
    }
    .p_titleContent{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
/*Portafolio*/
/*Blog*/
.blog{
    width: 100%;
    padding: 40px;
    margin: 250px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.blog-cardContent{
    display: block;
    margin:auto;
    padding: 40px;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
    border-radius: 10px;
}

.blog-cardContent img{
    width: 100%;
    border-radius: 5PX;
}
.blog-cardsContent{
    display: grid;
    grid-template-columns: repeat(3, minmax(280px,10%));
    justify-content: center;
    place-items: center;
    margin: 50px 0px;
    gap: 30px;
}
@media screen and (max-width:760px) {
    .blog{
        padding: 0px;
    }
    .blog-cardsContent{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        place-items: center;
        margin: 50px 0px;
        gap: 30px;
    }
}
/*Blog*/
/*Contacto*/
.contacto{
    width: 100%;
    padding: 40px;
    margin: 250px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto-formulario{
    position: relative;
    display: block;
    margin:auto;
    padding: 40px;
    height: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
    border-radius: 10px;
}
.contacto .cImg{
    position: absolute;
}
.contacto .cImg:nth-child(1){
    bottom:-10%;
    left: -30%;
    z-index: -1;
}
.contacto .cImg:nth-child(2){
    width: 200px;
    top: -5%;
    left: -30%;
    z-index: -1;
}
.contacto .cImg:nth-child(3){
    width: 150px;
    bottom:50%;
    right: -25%;
    z-index: -1;
}
form{
    margin: 25px 0px;
}
.formulario-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;

}
textarea,
input{
    border: none;
    padding: 15px;
    background-color: #e9e9e9;
}
input{
    width: 300px;
    height: 60px;
    border-radius: 100px;
}
textarea{
    width: 300px;
    border-radius: 10px;
}
input::placeholder{
    border: none;
}
@media screen and (max-width:760px) {
    .contacto{
        padding: 0px;
        margin: 250px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacto-formulario{
        width: 100%;
        position: relative;
        display: block;
        margin:auto;
        padding: 40px;
        height: auto;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.40);
        border-radius: 10px;
    }
    .contacto .cImg{
        position: absolute;
    }
    .contacto .cImg:nth-child(1){
        bottom:-10%;
        left: -30%;
        z-index: -1;
    }
    .contacto .cImg:nth-child(2){
        width: 00px;
        top: -5%;
        left: -30%;
        z-index: -1;
    }
    .contacto .cImg:nth-child(3){
        width: 150px;
        bottom:50%;
        right: -25%;
        z-index: -1;
    }
    form{
        margin: 25px 0px;
    }
    .formulario-input{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 30px;
    
    }
    textarea,
    input{
        border: none;
        padding: 15px;
        background-color: #e9e9e9;
    }
    input{
        width: 300px;
        height: 40px;
        border-radius: 100px;
    }
    textarea{
        width: 300px;
        border-radius: 10px;
    }
    input::placeholder{
        border: none;
    }
}
/*Contacto*/

